<%- include("partials/header")%>
<%- include("partials/sidenav")%>

<section class="page-content">
<div class="grid modules">
    <div id="dealers">
      <table>
          <tr><th class="title" colspan="4">YOUR SUPPLIERS</th></tr>
          <tr style= "background-color: lightblue;" class="text-center">
              <th>Company Name</th>
              <th>Supplier Name</th>
              <th>Email</th>
              <th>Contact</th>
          </tr>
          <% suppliers.forEach((supplier) => {  %>
                
                <tr class="pop" tabindex="0" data-html="true" data-toggle="popover" data-trigger="focus" title="<%=supplier.fname%> <%=supplier.lname%>" data-placement="bottom" 
                    data-content="
                        <p> 
                           <b>Company Name:</b> <%= supplier.companyname%> </br>
                           <b>Category    :</b> <%= supplier.category%> </br>
                           <b>Email       :</b> <%= supplier.email%>  </br>
                           <b>Website     :</b> <%= supplier.website%>  </br>
                           <b>Address     :</b> <%= supplier.address%> </br>
                           <b>City        :</b> <%= supplier.city%>  </br>
                           <b>State       :</b> <%= supplier.state%>  </br>
                           <b>Zipcode     :</b> <%= supplier.zip%>  </br>
                           <b>Contact No. :</b> <%= supplier.contact%> 
                        </p>  
                    ">
                    <span class="dealerdetail"></span>
                    <td><%=supplier.companyname%></td>
                    <td><%=supplier.fname%> <%=supplier.lname%></td>
                    <td><%=supplier.email%></td>
                    <td>
                        <%=supplier.contact%>
                        <span class="deleteicon">
                            <form method="POST" action="/supplier/<%=supplier._id%>?_method=DELETE">
                                <button type="submit"><i class="fas fa-trash"></i></button>
                            </form>
                        </span>
                    </td>
                </tr> 
            <span>
        <%  })  %>
          
        </table>
    </div>

  </div>
  <a href="/supplier/new">Add new Supplier</a>

  </section>

<%- include("partials/footer")%>