<%- include("partials/stockheader") %>
<%- include("partials/sidenav") %>


<section class="page-content">

<div>
  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        STOCK CATEGORIES
      </button>
      <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> -->
      <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Category 1</a>
        <a class="dropdown-item" href="#">Category 2</a>
        <a class="dropdown-item" href="#">Category 3</a>
      </div>
      </div> -->
      <div name="drop" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% categories.forEach((category) => { %>
          <li><a class="dropdown-item" value="<%=category.name%>" href="/stocks/category?name=<%=category.name%>"><%=category.name%></a></li>
        <%  })  %>
      </div>           
  </div>           
</div>  

    <div id="stock_info">
      <header class="category_heading"><%=selectedCateg%></header>
      <div class="container">
        <div class="row">
        <div class="stock_summary col-lg-7 col-12">
          <header class="title">Stocks Summary</header>
        <table id="stocks_table">
          <tr>
            <th>Stocks Bought</th>
            <td id="stocks_bought"><%=quantity%></td> 
          </tr>
          <tr>
            <th>Stocks In-Use</th>
            <td id="stocks_in_use">0</td>
          </tr>
          <tr>
            <th>Stocks Remaining</th>
            <td id="stocks_remaining"><%=quantity%></td>
          </tr>
        </table>
        </div>
        <div class="stock_productions col-lg-5 col-12">
          <div style=" line-height: 2.5; margin-top: 0.7rem;">
            <div style="font-size: 1.5rem;">Used In</div>
            <div id="productions_data" style="font-size:2.5rem; color: red;">7</div>
            <div style="font-size: 1.5rem;"> Productions</div>
          </div>
        </div>
      </div>
      </div>
    
        <div class="container stock_dealers">
          <header class="title" style="font-size: 1.6rem;">Stock Dealers</header>
          <div class="row">
          <% dealer.forEach((dealer) => {   %>
            <div class="col-lg-6 col-12">
              <div class="dealers"><%=dealer%></div>
            </div>
          <%   })   %>
            
          </div>
        </div>   
        
        <div class="container payment_status">
          <header class="title" style="font-size: 1.6rem;">Payment &nbsp;Status</header>
          <div class="row">
            <div class="col-lg-6 col-12">
              <div class="amount" style="border-color: darkgreen;">
                Amount Paid <br>
                <span>&#8377;</span> <span id="amt_paid"> <%=payment%>/- </span>
              </div>
            </div>
    
            <div class="col-lg-6 col-12">
              <div class="amount" style="border-color: maroon;">
                Amount Pending <br>
                <span>&#8377;</span> <span id="amt_pending"> 0/- </span>
              </div>
            </div>
    
          </div>
        </div>
    </div>

</section>
<%- include("partials/footer") %>
