<%- include("partials/header")%>
<%- include("partials/sidenav")%>

<!-- <div class="container-fluid"> -->
    <!-- <div class="d-flex flex-row bd-highlight mt-3">
        <span class="head bd-highlight">Name</span>
        <div class="head bd-highlight">Phone</div>
        <div class="head bd-highlight">Email</div>
    </div>
    <% dealers.forEach((dealer) => {  %>
        <span class="d-flex flex-row bd-highlight">
            <span class="content bd-highlight"><%=dealer.dealername%></span>
            <div class="content bd-highlight"><%=dealer.dealeremail%></div>
            <div class="content bd-highlight"><%=dealer.dealercontact%></div>
        </span>
   <% }) %>   
</div> -->
<section class="page-content">

<div class="grid modules">
    <div id="dealers">
      <table class="dealer_table">
          <tr><th class="title" colspan="4">YOUR DEALERS</th></tr>
          <tr style= "background-color: lightblue;" class="text-center">
              <th>Company Name</th>
              <th>Dealer Name</th>
              <th>Email</th>
              <th>Contact</th>
          </tr>
          <% dealers.forEach((dealer) => {  %> 
            <tr class="pop" tabindex="0" data-html="true" data-toggle="popover" data-trigger="focus" title="<%=dealer.fname%> <%=dealer.lname%>" data-placement="bottom" 
                data-content="
                <p> 
                    <b>Company Name:</b> <%= dealer.companyname%> </br>
                    <b>Category    :</b> <%= dealer.category%> </br>
                    <b>Email       :</b> <%= dealer.email%>  </br>
                    <b>Website     :</b> <%= dealer.website%>  </br>
                    <b>Address     :</b> <%= dealer.address%> </br>
                    <b>City        :</b> <%= dealer.city%>  </br>
                    <b>State       :</b> <%= dealer.state%>  </br>
                    <b>Zipcode     :</b> <%= dealer.zip%>  </br>
                    <b>Contact No. :</b> <%= dealer.contact%> 
                 </p> 
                ">
                    <span class="dealerdetail"></span>
                    <td><%=dealer.companyname%></td>
                    <td><%=dealer.fname%> <%=dealer.lname%></td>
                    <td><%=dealer.email%></td>
                    <td>
                        <%=dealer.contact%> 
                        <span class="deleteicon">
                            <form method="POST" action="/dealer/<%=dealer._id%>?_method=DELETE">
                                <button type="submit"><i class="fas fa-trash"></i></button>
                            </form>
                        </span>
                    </td>
                    
    
                </tr> 
            </button>
            
        <%  })  %>
          
        </table>
    </div>
    </div>
  <a href="/dealer/new">Add new Dealer</a>
  
  </section>

<%- include("partials/footer")%>